	<div class="post-card-sidebar">
		<form id="search-form">
			<div class="row">
				
					<label for="search-box" class="form-label">Search</label>
					<input type="text" class="form-control" id="search-box" required>
					
					
				
			</div>
			{{!-- <button type="submit" class="btn btn-form btn-center">Search</button> --}}
		</form>
  	
</div>
<script src="/js/search.js"></script>