<header>
    <h1>Tech Talk Talk</h1>
</header>
<nav>
    <p>Navigation</p>
</nav>
<div>
    sidebar
</div>
<main>
    main
    {{#each users as |user|}}
<p>{{user.first_name}}</p> 
    {{/each}}
</main>
<footer>

</footer>