<header>
    <a href="/">
        <h1>  Tech Talky Talk  </h1>
    </a>
    <nav class="navbar">
        {{> navbar loggedInUser=loggedInUser}}
    </nav>
</header>

<main>
    <div class="sidebar">
        {{> sidebar posts=posts loggedInUser=loggedInUser}}
    </div>

    <div class="main-section">
        {{#if postsView}}
        {{> posts-main posts=posts }}
        {{/if}}

        {{#if loginView }}
        {{> login posts=posts}}
        {{/if}}

        {{#if signupView }}
        {{> signup posts=posts}}
        {{/if}}

        {{#if newPostsView }}
        {{> new-post posts=posts  loggedInUser=loggedInUser}}
        {{/if}}

         {{#if editPostsView }}
        {{> edit-post posts=posts  loggedInUser=loggedInUser}}
        {{/if}}
    </div>
</main>
<footer>

</footer>